
body {
	background-color: #c8c8c8;
	color: black;
	/*font-family: Helvetica;*/

	margin: 0px;
	padding: 0px;
}


/* Nav Bar */

#nav ul {
	text-align: center;
	font-size: 1.1em;
	margin: 15px 0px;
	padding: 0px;
}

#nav li {
	background-color: #888;
	color: white;
	border-radius: 7px;

	display: inline-block;
	text-align: center;

	width: 12%;
	margin: 0px 1%;
	padding: 8px 0px;

	transition: background-color .17s;
}

#nav li:hover {
	background-color: #777;
}

#nav li:active {
	background-color: #aaa;
}


/* Content */

h1 {
	color: #444;
	margin: 8px 0px;
}

.content {
	background-color: #eee;
	border-radius: 10px;
	/*text-align: justify;*/

	width: 70%;
	min-width: 600px;
	max-width: 900px;
	margin: 0px auto 15px;
	padding: 15px 45px;
}




/* Project Thumbs */

.projThumbnail , .projDescription {
	border-radius: 10px;
	height: 150px;
	padding: 0;
	overflow: hidden;
}

.projThumbnail {
	background-color: #fff;
	
	float: left;
	position: relative;

	width: 23%;
	margin: 10px 1%;

}

.projDescription {
	background-color: #555;
	color: #fff;

	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;

	opacity: 0;
	transition: opacity .25s;
}


.projThumbnail:hover > .projDescription {
	opacity: .85;
}

.text {
	padding: 12px 15px;
}

.fitImage {
	max-width: 100%;
	height: auto;
}












